{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<form method="POST" class="centered-form">
  <div class="login-block">
    <h1>Sign Up</h1>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
    <button type="submit" class="btn btn-primary  btn-hover-highlight">Sign Up</button>
  </div>
</form>
{% endblock %}